.message-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.message-assistant {
  position: relative;
  background-color: var(--mdz-lightgrey);
  border-radius: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
  min-height: 3rem;
}

.message-assistant::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-right-color: var(--mdz-lightgrey);
  left: -18px;
  top: 10px;
}

.message-user {
  margin-top: 20px;
  float: right;
  position: relative;
  background-color: var(--mdz-red);
  color: white;
  border-radius: 16px;
  padding: 10px 20px;
  display: inline-block;
}

.message-user::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: var(--mdz-red);
  /* Tail for right bubble */
  right: -18px;
  /* Position the tail to the right of the bubble */
  top: 10px;
}
